/Busca Clássica/T01/nbproject/private/
/Busca Clássica/T02/build/
/Busca Clássica/T02/nbproject/private/
/Busca Clássica/T04/build/
/Busca Clássica/T04/nbproject/private/
/T05/build/
/T05/nbproject/private/